*
{
    box-sizing: border-box;
}
html
{
    font-family: $font-main;
    font-size: $font-size;

    overflow-y: scroll;

    letter-spacing: .15em;

    color: $color-gray;
}

h1
{
    font-family: $font-header;
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1.2;

    letter-spacing: .08em;

    @include lg-min
    {
        font-size: 3.75rem;
    }
    @include lg-md
    {
        font-size: 2.5rem;
    }
    @include md
    {
        font-size: 1.875rem;
    }
}
a
{
    text-decoration: none;

    color: #fff;
}
.btn,
.btn-accent
{
    font-size: 1.125rem;

    display: block;

    transition: background-color .5s;
    text-align: center;
    letter-spacing: .1em;

    background-color: rgba(255, 255, 255, .1);

    &:hover,
    &:focus
    {
        background-color: $color-accent;
    }
}
.btn
{
    border: 2px solid $color-light;
    background-color: rgba($color-light, .1);

    @include lg-min
    {
        font-size: 1.125rem;

        min-width: 250px;
        height: 60px;
        padding: 18px $gap;
    }
    @include lg-md
    {
        font-size: 1rem;

        min-width: 200px;
        height: 50px;
        padding: 14px $gap;
    }
    @include md
    {
        font-size: 1rem;

        min-width: 170px;
        height: 40px;
        padding: 10px $gap;

        letter-spacing: .05em;
    }
}
.btn-accent
{
    min-width: 350px;
    height: 60px;
    padding: 18px $gap;

    border: 2px solid $color-primary;
    background-color: rgba($color-primary, .8);

    @include sm
    {
        width: 100%;
        min-width: auto;
    }
}
