$color-primary: #2d3651;
$color-accent: #d66926;
$color-highlight: #d53d27;
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-gray-dark: #44596e;
$color-light: #fff;
$color-primary-light: #38405a;
$color-primary-dark: rgba(255, 255, 255, .1);;
$color-posts: #f2f2f2;
